#location {
    width: 35%;
    padding: 0.75rem;
    font-size: 1.25rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

form :nth-child(2) {
    padding-bottom: 1.25rem;
}