#location {
    width: 35%;
    padding: 0.75rem;
    font-size: 1.25rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#submit {
    width: 5.5rem;
    height: 3.575rem;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
}

form {
    margin-left: 1rem;
}
