a {
    text-decoration: none;
}

#bars {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

@media only screen and (max-width : 600px) {
    .nav :nth-child(2) {
        display: none;
    }
    
}

@media only screen and (max-width : 600px) {
    .nav {
       font-size: 0.75em;
    }
    .nav img {
        width: 3.75rem !important;
    }
    #bars img {
        width: 2.5rem !important;
    }
    .responsive {
        display: none;
    }
}