<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nightfall-Home</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Open+Sans&family=Open+Sans+Condensed:wght@300&family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Metrophobic&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bars.css' %}"> 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/charts.css' %}">
</head>
<body>
    <div class="w3-bar w3-block">
        <div class="nav">
        <a href="#" class="w3-bar-item w3-left" style="font-size: 2.5em; font-family: 'Rubik', sans-serif;">{% load static %} <img src="{% static 'icons/logo.svg' %}" style="width: 5rem;"/>Nightfall</a>
        <div class="w3-right" style="margin-top: 0.5rem;">
        <a href="#weather" class="w3-bar-item w3-hover-text-indigo" style="font-family: 'Metrophobic', sans-serif; font-size: 2em;">{% load static %} <img src="{% static 'icons/weather.svg' %}" style="width:3rem; margin-bottom: 0.5rem; padding-right: 0.3rem;">Weather</a>
        <a href="#" class="w3-bar-item w3-hover-text-indigo" style="font-family: 'Metrophobic', sans-serif; font-size: 2em;">{% load static %} <img src="{% static 'icons/air.svg' %}" style="width:3rem; margin-bottom: 0.5rem;"> Air Quality</a>
        <a href="#" class="w3-bar-item w3-hover-text-indigo" style="font-family: 'Metrophobic', sans-serif; font-size: 2em;">{% load static %} <img src="{% static 'icons/maps.svg' %}" style="width:3rem; margin-bottom: 0.5rem;"> Maps</a>
        </div>
        <input type="checkbox" id="active">
      <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
      <div class="wrapper" style="font-family: 'Metrophobic', sans-serif;">
         <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Weather</a></li>
            <li><a href="#">Weather</a></li>
            <li><a href="#">Air Quality</a></li>
            <li><a href="#">Maps</a></li>
         </ul>
      </div>
        </div>
    </div>
    <div class="w3-center" style="margin-top: 10rem; margin-left: 1rem;">
    <form method="POST" id="location_form">
        {% csrf_token %}
        <input type="text" id="location" name="enter" placeholder="Enter Location">
        <input type="submit" id="submit" value="search" style="margin-left: 0.5rem;">
    </form>
    </div>
    {% for item in final_data %}
    <h1 class="w3-center" style="padding-top:15rem; " id="weather">Weather :</h1>
    <table style="margin-left: 24rem">
    <tr>
        <td style="margin-right: 5rem;"><h3>Country Code : {{ item.country_code }}</h3></td>
        <td style="padding-left: 25rem;"><h3>Pressure : {{ item.pressure}} hPa</h3></td>
    </tr>
    <tr>
        <td><h3>Longitude : {{ item.longitude }}</h3></td>
        <td style="padding-left: 25rem;"><h3>Latitude : {{ item.latitude}} </h3></td>
    </tr>
    <tr>
        <td><h3>Wind Speed : {{ item.wind_speed }}</h3></td>
        <td style="padding-left: 25rem;"><h3>Wind Degrees : {{ item.wind_deg}} °</h3></td>
    </tr>
    <tr>
        <td><h3>Humidity : {{ item.humidity }}</h3></td>
        <td style="padding-left: 25rem;"><h3>Clouds : {{ item.cloud}} </h3></td>
    </tr>
    </table>
    <canvas id="temp" style="position: relative; height:10vh; width:30vh"></canvas>
    <canvas id="sky" style="position: relative; height:10vh; width:30vh"></canvas>
    <canvas id="pollution"></canvas>
    </div>
    {% load static %}
    <script>
    Chart.defaults.font.size = 27;
    var temp_graph =  document.getElementById('temp').getContext('2d');
    var min_max = new Chart(temp_graph, {
    type: 'bar',
    data : {
            labels: ['Min Temp', 'Max Temp', 'Feels Like'],
            datasets: [{
                barPercentage: 0.3,
                data : [
                '{{ item.temp_min }}', 
                '{{ item.temp_max }}',
                '{{ item.feels_like }}',
            ],
                backgroundColor: [
                    'rgba(77, 77, 255, 0.5)',
                    'rgba(230, 57, 70, 0.5)',  
                    'rgba(255, 128, 0, 0.5)',   
                ],
                borderColor: [
                    '#3377ff',
                    '#ff3333',
                    '#ff8000',
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                legend : {
                    display : false
                },
            }
        },
    });

    var pollution_graph =  document.getElementById('pollution').getContext('2d');
    var components = new Chart(pollution_graph, {
    type: 'pie',
    data : {
            labels: ['Carbon Monoxide(co) ', 'Nitric Oxide(no) ', 'Nitrogen Dioxide(no2) ', 'Ozone(o3) ', 'Sulphur Dioxide(so2) ', 'Fine Particulate(PM2.5) ', 'Inhalable Particulate(PM10) ', 'Ammonia(nh3) '],
            datasets: [{
                data : [
                '{{ item.co }}', 
                '{{ item.no }}',
                '{{ item.no2 }}',
                '{{ item.o3 }}', 
                '{{ item.so2 }}', 
                '{{ item.pm2_5 }}', 
                '{{ item.pm10 }}', 
                '{{ item.nh3 }}', 
            ],
                backgroundColor: [
                    'rgba(23, 19, 27, 0.54)',
                    '#a300cc',
                    '#ffffff', 
                    '#99ccff',
                    '#ffff66', 
                    '#00cc99',
                    '#ff3333',
                    '#ff4da6',
                ],
                borderColor: [
                ],
                borderWidth: 2
            }]
        },
        options: {
            plugins: {
                legend : {
                    display : true,
                    position : 'right',
                },
            }
        },
    });
    </script>
    
    {% endfor %}
</body>
</html>