<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nightfall App</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Open+Sans&family=Open+Sans+Condensed:wght@300&family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Metrophobic&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/charts.css' %}">
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="'{% static 'icons/apple-touch-icon.png' %}'"> 
    {% load static %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}"> 
    {% load static %}
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}"> 
    {% load static %}
    <link rel="manifest" href="{% static 'icons/site.webmanifest' %}"> 
</head>
<body>
    <div class="w3-bar w3-block">
        <div class="nav">
        <a href="top" class="w3-bar-item w3-left" style="font-size: 2.5em; font-family: 'Rubik', sans-serif;">{% load static %} <img src="{% static 'icons/logo.svg' %}" style="width: 5rem;"/>Nightfall</a>
        <div class="w3-right" style="margin-top: 0.5rem;">
        <a href="#weather" class="w3-bar-item w3-hover-text-indigo" style="font-family: 'Metrophobic', sans-serif; font-size: 2em;">{% load static %} <img src="{% static 'icons/weather.svg' %}" style="width:3rem; margin-bottom: 0.5rem; padding-right: 0.3rem;">Weather</a>
        <a href="#pollution" class="w3-bar-item w3-hover-text-indigo" style="font-family: 'Metrophobic', sans-serif; font-size: 2em; margin-right: 2rem;">{% load static %} <img src="{% static 'icons/air.svg' %}" style="width:3rem; margin-bottom: 0.5rem;"> Air Quality</a>
        </div>
    </div>
    <div class="w3-center" style="margin-top: 20rem; margin-left: 1rem;">
    <form method="POST" id="location_form">
        {% csrf_token %}
        <input type="text" id="location" name="enter" placeholder="Enter Location">
        <input type="submit" id="submit" value="search" style="margin-left: 0.5rem;">
    </form>
    </div>
    {% for item in final_data %}
    <h1 class="w3-center" style="padding-top: 15rem; font-family: 'Metrophobic'; padding-right: 0.25rem;" id="weather">Weather Details :</h1>
    <br>
    <table style="margin-left: 23rem;">
    <tr>
        <td style="margin-right: 5rem;"><h3 style=" font-family: 'Metrophobic';">Country Code : {{ item.country_code }}</h3></td>
        <td style="padding-left: 25rem;"><h3 style=" font-family: 'Metrophobic';">Temperature : {{ item.temp}} °F</h3></td>
    </tr>
    <tr>
        <td><h3 style="font-family: 'Metrophobic';">Longitude : {{ item.longitude }}</h3></td>
        <td style="padding-left: 25rem;"><h3 style="font-family: 'Metrophobic';">Latitude : {{ item.latitude}} </h3></td>
    </tr>
    <tr>
        <td><h3 style="font-family: 'Metrophobic';">Wind Speed : {{ item.wind_speed }}</h3></td>
        <td style="padding-left: 25rem;"><h3 style="font-family: 'Metrophobic';">Wind Degrees : {{ item.wind_deg}} °</h3></td>
    </tr>
    <tr>
        <td><h3 style="font-family: 'Metrophobic';">Humidity : {{ item.humidity }}</h3></td>
        <td style="padding-left: 25rem;"><h3 style=" font-family: 'Metrophobic';">Clouds : {{ item.cloud}} </h3></td>
    </tr>
    </table>
    <canvas id="temp" style="margin-top: 20rem;"></canvas>
    <canvas id="pollution" style="margin-top: 20rem;"></canvas>
    <canvas id="air_quality" style="margin-top: 20rem"></canvas>
    <h3 class="w3-center" style="font-family:  'Metrophobic'; font-size: 2rem;">( 1 = Good , 2 = Fair , 3 = Moderate , 4 = Poor , 5 = Very Poor )</h3>
    </div>
    <div class="w3-bar w3-blue-gray" style="margin-top: 5rem;">
        <h5 class= "w3-bar-item w3-left" style="font-size: 1rem;">Made by Shaam</h5>
        <a href="#top"><h5 class="w3-bar-item" style="font-size: 1rem; margin-left: 39rem;">{% load static %} <img src="{% static 'icons/arrow_up.svg' %}" class="w3-bar-item" style="width: 6rem"/></h5></a>
        <a href="https://github.com/Shaam-K/NightFall"><h5 class= "w3-bar-item w3-right" style="font-size: 1rem;">Source Code available on my Github</h5></a>
        <a href="https://github.com/Shaam-K/NightFall" class="w3-right"> {% load static %} <img src="{% static 'icons/github.svg' %}" class="w3-bar-item" style="width: 5rem; margin-left: 1rem;"/></a>
    </div>

    {% load static %}
    <script>
    Chart.defaults.font.size = 27;
    Chart.defaults.font.family = 'Metrophobic';
    var temp_graph =  document.getElementById('temp').getContext('2d');
    var min_max = new Chart(temp_graph, {
    type: 'bar',
    data : {
            labels: ['Min Temp', 'Temp', 'Max Temp', 'Feels Like'],
            datasets: [{
                barPercentage: 0.3,
                data : [
                '{{ item.temp_min }}', 
                '{{ item.temp}}',
                '{{ item.temp_max }}',
                '{{ item.feels_like }}',
            ],
                backgroundColor: [
                    'rgba(255, 0, 102, 0.55)',
                    'rgba(77, 77, 255, 0.5)',
                    'rgba(230, 57, 70, 0.5)',  
                    'rgba(255, 128, 0, 0.5)',   
                ],
                borderColor: [
                    '#ff0066',
                    '#3377ff',
                    '#ff3333',
                    '#ff8000',
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                title: {
                    display : true,
                    text : "Temperature Analysis",
                    font : {
                        size : 40
                    }
                },
                legend : {
                    display : false
                },
            }
        },
    });

    var pollution_graph =  document.getElementById('pollution').getContext('2d');
    var components = new Chart(pollution_graph, {
    type: 'pie',
    data : {
            labels: ['Carbon Monoxide (co) ', 'Nitric Oxide (no) ', 'Nitrogen Dioxide (no2) ', 'Ozone (o3) ', 'Sulphur Dioxide (so2) ', 'Fine Particulate (PM2.5) ', 'Inhalable Particulate (PM10) ', 'Ammonia (nh3) '],
            datasets: [{
                data : [
                '{{ item.co }}', 
                '{{ item.no }}',
                '{{ item.no2 }}',
                '{{ item.o3 }}', 
                '{{ item.so2 }}', 
                '{{ item.pm2_5 }}', 
                '{{ item.pm10 }}', 
                '{{ item.nh3 }}', 
            ],
                backgroundColor: [
                    'rgba(23, 19, 27, 0.54)',
                    '#a300cc',
                    '#ffffff', 
                    '#99ccff',
                    '#ffff66', 
                    '#00cc99',
                    '#ff3333',
                    '#ff4da6',
                ],
                borderColor: [
                ],
                borderWidth: 2
            }]
        },
        options: {
            plugins: {
                title: {
                    display : true,
                    text : "Pollution Composition",
                    font : {
                        size : 40
                    }
                },
                legend : {
                    display : true,
                    position : 'right',
                },
            }
        },
    });
    var aqi =  document.getElementById('air_quality').getContext('2d');
    var air = new Chart(aqi, {
    type: 'bar',
    data : {
            labels: ['AQI'],
            datasets: [{
                barPercentage: 0.3,
                data : [
                '{{ item.aqi }}', 
            ],
                backgroundColor: [
                    'rgba(0, 229, 230, 0.3)', 
                ],
                borderColor: [
                    '#00e5e6',
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                title: {
                    display : true,
                    text : "      Air Quality",
                    font : {
                        size : 40
                    }
                },
                legend : {
                    display : false
                },
            }
        },
    });
    </script>
    {% endfor %}
</body>
</html>