<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Shows you the weather in a analytical way based on your search">
    <title>Weather</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/widget.css' %}">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/charts.css' %}">
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="'{% static 'icons/apple-touch-icon.png' %}'"> 
    {% load static %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}"> 
    {% load static %}
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}"> 
    {% load static %}
    <link rel="manifest" href="{% static 'icons/site.webmanifest' %}"> 
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.css' rel='stylesheet'/>
</head>
<body>
    <div class="w3-bar w3-block">
        <div class="nav" style="margin-left: 2rem;">
        <span id='top'><a class="w3-bar-item w3-left" style="font-size: 2rem; font-family: 'Asap', sans-serif;">{% load static %} <img src="{% static 'icons/logo.svg' %}" alt= "logo" style="width: 5rem;"/>Nightfall</a></span>
        <div class="w3-right w3-flex right_nav" style="margin-top: 1.2rem; margin-right: 2rem;">
        <a href="#weather" class="w3-bar-item" style="font-family: 'Titillium Web', sans-serif; font-weight: 300; font-size: 1.75rem; padding: 0.35rem; background-color: rgb(105, 165, 233); margin-right: 0.5rem; margin-left: 0.5rem; color:white; border-radius: 10px; padding-left: 0.5rem; padding-right: 0.5rem; ">Weather</a>
        <a href="#pollution" class="w3-bar-item" style="font-family: 'Titillium Web', sans-serif; font-weight: 300; font-size: 1.75rem; padding: 0.35rem; padding-left: 1.5rem; padding-right: 1.5rem; background-color: rgb(105, 165, 233); margin-right: 1.5rem; margin-left: 1.5rem; color:white; border-radius: 10px;">Air</a>
        <a href="#map" class="w3-bar-item" style="font-family: 'Titillium Web', sans-serif; font-weight: 300; font-size: 1.75rem; padding: 0.35rem; background-color: rgb(105, 165, 233); margin-right: 0.5rem; margin-left: 0.5rem; color:white; border-radius: 10px; padding-left: 0.5rem; padding-right: 0.5rem; ">Maps</a>
        </div>
    </div>
    <div class="w3-center" style="margin-top: 20rem; margin-left: 1rem;">
    <form method="POST" id="location_form">
        {% csrf_token %}
        <input type="text" id="location" name="enter" placeholder="Enter Location" style="font-family: 'Asap', sans-serif;">
        <input type="submit" id="submit" value="search" style="margin-left: 0.5rem; font-family: Titillium Web, sans-serif;">
    </form>
    </div>
    </div>
<div id="weather">
    {% for item in final_data %}
    <div class="position" style="margin-top: 20rem; font-family: 'Asap', sans-serif;">
        <div class="w3-cell-row w3-center w3-text-white">
             <div class="w3-container w3-mobile" style="background-color:#6779a1;">
                <div class="responsive_title w3-bar" style="margin:auto;"><p style="font-size:2em; margin-left: 15rem;">Weather from {{ item.display}}</p></div>
                <div class="tooltip" style="float:right;"><img src="http://openweathermap.org/img/wn/{{ item.icon }}.png" alt="openweather icon" style="float:right; margin-top: 2rem; margin-right: 10rem; image-rendering: optimizeQuality; width: 70px; height: 70px;">
                    <span class="tooltiptext">{{ item.description }}</span>
                  </div>
                <div class="responsive_temperature"><p class="w3-xlarge">Temperature : {{item.temp}}°C</p></div>
            </div>
        </div>
        <div class="w3-cell-row w3-center w3-text-white">
            <div class="w3-container w3-cell w3-mobile w3-padding-top-18">
                <p class="w3-xlarge" style="margin: auto; padding-top: 2rem;">Longitude : {{ item.longitude }}</p>
            </div>
            <div class="w3-container w3-cell w3-mobile">
                <p class="w3-xlarge" style="margin: auto; padding-top: 2rem;">Latitude : {{ item.latitude }}</p>
            </div>
        </div>
        <div class="centering_row">
        <div class="w3-cell-row w3-center w3-text-white" style="margin-left: 2rem;">
            <div class="w3-container w3-cell w3-mobile w3-padding-top-18">
                <div class="responsive_wind"><p class="w3-xlarge" style="margin: auto; padding-top: 2rem;">Wind Speed : {{ item.wind_speed }}%</p></div>
            </div>
            <div class="w3-container w3-cell w3-mobile">
                <div class="responsive_degree"><p class="w3-xlarge" style="margin: auto; padding-top: 2rem;">Wind Degrees : {{ item.wind_deg }}%</p></div>
             </div>
        </div>
        </div>
        <div class="w3-cell-row w3-center w3-text-white">
            <div class="w3-container w3-cell w3-mobile w3-padding-top-18">
                <div class="responsive_humidity"><p class="w3-xlarge" style="margin: auto; padding-top: 2rem;">Humidity : {{ item.humidity }}%</p></div>
            </div>
            <div class="w3-container w3-cell w3-mobile">
                <div class="responsive_clouds"><p class="w3-xlarge" style="margin: auto; padding-top: 2rem;">Clouds : {{ item.cloud }}%</p></div>
             </div>
        </div>
    </div>
</div>
    <canvas id="temp" style="margin-top: 20rem;"></canvas>
    <canvas id="pollution" style="margin-top: 20rem;"></canvas>
    <canvas id="air_quality" style="margin-top: 15rem"></canvas>
    <h3 class="w3-center" style="font-family: 'Titillium Web', sans-serif; font-size: 2rem; margin-bottom:10rem;">( 1 = Good , 2 = Fair , 3 = Moderate , 4 = Poor , 5 = Very Poor )</h3>
    </div>
    <div id='map' style='width: 80%; height: 500px; margin-top: 15rem; margin:auto;'></div>
    <div class="w3-bar w3-blue-gray" style="margin-top: 10rem; padding-bottom: 3rem;">
        <h5 class="w3-bar-item" style="font-size: 1.25rem; font-weight: 400; margin-left: 2rem;">Made by Shaam</h5>
        <a href="https://github.com/Shaam-K/NightFall" class="w3-right" style="margin-right: 3rem; padding-top: 1rem;">{% load static %}<img src="{% static 'icons/github_white.svg' %}" class="w3-bar-block" alt="github" style="width: 3rem; padding-left: 0.5rem;"/></a>
        <a href="https://github.com/Shaam-K/NightFall"><h5 class= "w3-bar-item w3-right" style="font-size: 1.2rem; font-weight: 400;">Source Code</h5></a>
        <h1 class="w3-center" style="font-size: 1.5rem; font-weight: 400; margin-right: 3rem;"><a href="#top" style="padding-left: 4rem;">{% load static %}<img src="{% static 'icons/arrow.svg' %}" alt= "arrow to go up" style="width: 5rem;"/></a></h1>
    </div>
    {% load static %}
    <script>
    Chart.defaults.font.size = 27;
    Chart.defaults.font.family = 'Asap';
    var temp_graph =  document.getElementById('temp').getContext('2d');
    var min_max = new Chart(temp_graph, {
    type: 'bar',
    data : {
            labels: ['Min Temp', 'Temp', 'Max Temp', 'Feels Like'],
            datasets: [{
                barPercentage: 0.3,
                data : [
                '{{ item.temp_min }}', 
                '{{ item.temp}}',
                '{{ item.temp_max }}',
                '{{ item.feels_like }}',
            ],
                backgroundColor: [
                    'rgba(255, 0, 102, 0.55)',
                    'rgba(77, 77, 255, 0.5)',
                    'rgba(230, 57, 70, 0.5)',  
                    'rgba(255, 128, 0, 0.5)',   
                ],
                borderColor: [
                    '#ff0066',
                    '#3377ff',
                    '#ff3333',
                    '#ff8000',
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                title: {
                    display : true,
                    text : "Temperature Analysis (°C)",
                    font : {
                        size : 40
                    }
                },
                legend : {
                    display : false
                },
            }
        },
    });

    var pollution_graph =  document.getElementById('pollution').getContext('2d');
    var components = new Chart(pollution_graph, {
    type: 'pie',
    data : {
            labels: ['Carbon Monoxide (co) ', 'Nitric Oxide (no) ', 'Nitrogen Dioxide (no2) ', 'Ozone (o3) ', 'Sulphur Dioxide (so2) ', 'Fine Particulate (PM2.5) ', 'Inhalable Particulate (PM10) ', 'Ammonia (nh3) '],
            datasets: [{
                data : [
                '{{ item.co }}', 
                '{{ item.no }}',
                '{{ item.no2 }}',
                '{{ item.o3 }}', 
                '{{ item.so2 }}', 
                '{{ item.pm2_5 }}', 
                '{{ item.pm10 }}', 
                '{{ item.nh3 }}', 
            ],
                backgroundColor: [
                    'rgba(23, 19, 27, 0.54)',
                    '#a300cc',
                    '#ffffff', 
                    '#99ccff',
                    '#ffff66', 
                    '#00cc99',
                    '#ff3333',
                    '#ff4da6',
                ],
                borderColor: [
                ],
                borderWidth: 2
            }]
        },
        options: {
            plugins: {
                title: {
                    display : true,
                    text : "Pollution Composition (μg/m3) ",
                    font : {
                        size : 40
                    }
                },
                legend : {
                    display : true,
                    position : 'right',
                },
            }
        },
    });
    var aqi =  document.getElementById('air_quality').getContext('2d');
    var air = new Chart(aqi, {
    type: 'bar',
    data : {
            labels: ['AQI'],
            datasets: [{
                barPercentage: 0.2,
                data : [
                '{{ item.aqi }}', 
            ],
                backgroundColor: [
                    'rgba(0, 229, 230, 0.3)', 
                ],
                borderColor: [
                    '#00e5e6',
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                title: {
                    display : true,
                    text : "      Air Quality",
                    font : {
                        size : 40
                    }
                },
                legend : {
                    display : false
                },
            }
        },
    });
    // MAPS
    mapboxgl.accessToken = 'MAPBOX_ACCESS_TOKEN';
    const map = new mapboxgl.Map({
    container: 'map',
    style: 'MAPBOX STYLE',
    center: ['{{ item.longitude }}', '{{ item.latitude }}'],
    zoom: 10
    });
    //
    </script>
    {% endfor %}
</body>
</html>